.uuid {
  display: none !important;
}

.selected {
  background-image: linear-gradient(0, transparent, #bbb3, #bbb3, transparent) !important;
  /* background-color: #bbbbbb33 !important; */
  border-radius: 25px;
  cursor: default !important;
  text-decoration: none !important;
}

.hover:hover {
  background-image: linear-gradient(0, transparent, #aaa2, transparent);
  /* background-color: #aaaaaa22; */
  border-radius: 25px;
  cursor: pointer;
  text-decoration: underline;
}

a {
  color: aliceblue;
}

body {
  background-color: #003050;
  color: aliceblue;
  margin-left: auto;
  margin-right: auto;
  /* overflow: hidden; */
  width: 80%;
}

body div {
  position: relative;
}

body>.background-image {
  background-image: url(./images/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  left: 0;
  opacity: .1;
  position: absolute;
  width: 100%;
}

body>.main>div {
  float: left;
  width: 100%;
}

body>.main>.header {
  height: max-content;
  border-bottom-color: cornflowerblue;
  border-bottom-style: ridge;
  border-bottom-width: 2px;
}

body>.main>.header>.menuitem {
  border-radius: 15px;
  float: left;
  font-size: larger;
  font-weight: bolder;
  padding-bottom: 1em;
  padding-top: 1em;
  position: relative;
  text-align: center;
  width: 14.25%;
}

body>.main>.workspace {
  font-size: larger;
  line-height: 140%;
}

body>.main>.workspace>div {
  display: none;
  float: left;
  margin-top: 3em;
  width: 100%;
}

body>.main>.workspace>.active {
  display: block;
}

body>.main>.workspace>.active>form {
  position: relative;
}

body>.main>.workspace>.active>form ul>li.attr {
  list-style-type: disc;
}

body>.main>.workspace>.active>form ul>li.attr>div {
  float: left;
}

body>.main>.workspace>.active>form ul>li.attr>div.label {
  width: 8em;
}

body>.main>.workspace>.active>form ul>li.attr.expandable {
  list-style-type: disc;
}

body>.main>.workspace>.active>form ul>li.attr.expandable>.label:hover {
  cursor: pointer;
}

body>.main>.workspace>.active>form>ul li.attr.expandable>div.input {
  display: none;
}

body>.main>.workspace>.active>form>ul li.attr.expandable>div.input>ul {
  float: none;
}

body>.main>.workspace>.active>form>ul li.attr.expanded {
  cursor: auto !important;
  list-style-type: circle !important;
}

body>.main>.workspace>.active>form>ul li.attr.expanded>div.input {
  clear: left;
  display: revert;
}

body>.main>.workspace>.active>form>ul li.attr>.input>.live {
  display: none;
}

body>.main>.workspace>.active>form>ul li.attr.editing>.input>.live {
  display: inline;
}

body>.main>.workspace>.active>form>ul li.attr.editing>.input>.static {
  display: none;
}