body>.main>.workspace>.lifecycle>.table.lifecycle.noting>.rows.lc {
  display: none;
}

body>.main>.workspace>.lifecycle>.table.lifecycle>.notes {
  clear: none;
  float: right;
  height: 17em;
  margin-left: -5px;
  width: 69%;
}

body>.main>.workspace>.lifecycle>.table.lifecycle>.rows {
  height: 18em;
  overflow-x: hidden;
  overflow-y: auto;
}

body>.main>.workspace>.lifecycle>.table.lifecycle>.rows.lc {
  float: right;
  margin-left: -5px;
  width: 69%;
}

body>.main>.workspace>.lifecycle>.table.lifecycle>.rows.ndx {
  border-bottom-right-radius: 10px;
  border-color: ghostwhite;
  border-right-style: outset;
  border-right-width: 3px;
  border-top-right-radius: 10px;
  float: left;
  margin-right: 1%;
  width: 30%;
}

body>.main>.workspace>.lifecycle>.rows.ndx>.row.new>.ctime::before {
  content: '*'
}

body>.main>.workspace>.lifecycle>.table.lifecycle>.rows.ndx>.row>div {
  width: 50%;
}

body>.main>.workspace>.lifecycle>.table.lifecycle {
  width: 100%;
}


body>.main>.workspace>.lifecycle>.table.lifecycle>.rows>div>.label {
  padding-left: 1%;
  width: 20%;
}

body>.main>.workspace>.lifecycle>.table.lifecycle>.rows.add>.row.no-add {
  display: none;
}

body>.main>.workspace>.lifecycle>.table.events>.columns>.column.full::before {
  content: "Lifecycle ";
}