body>.main>.workspace>.strain>.table {
  /* margin-left: 10%; */
  width: 65%;
}

body>.main>.workspace>.strain>.table>.columns>div {
  width: 24%;
}

body>.main>.workspace>.strain>.table>.rows>.row>input,
body>.main>.workspace>.strain>.table>.rows>.row>select,
body>.main>.workspace>.strain>.table>.rows>.row>div {
  padding-left: 1%;
  width: 23%;
}

body>.main>.workspace>.strain>.table>.rows>.row>.create_date {
  padding-left: 0;
}

body>.main>.workspace>.strain>.table.strainattribute {
  float: right;
  width: 34%;
}

body>.main>.workspace>.strain>.table.strainattribute>.columns>div {
  width: 50%;
}

body>.main>.workspace>.strain>.table.strainattribute>.rows>.row>input,
body>.main>.workspace>.strain>.table.strainattribute>.rows>.row>select,
body>.main>.workspace>.strain>.table.strainattribute>.rows>.row>div {
  margin-left: 1%;
  width: 47%;
}