body>.main>.workspace>div .table {
  border-radius: 17px;
  background-color: #aaa1;
  float: left;
  width: 100%;
}

body>.main>.workspace>div .table>div {
  float: left;
  width: 100%;
}

body>.main>.workspace>div .table>.columns {
  background-image: linear-gradient(180deg, #fff3, transparent);
  border-radius: 18px 18px 0 0;
  padding-bottom: .3em;
  padding-top: .3em;
}

body>.main>.workspace>div .table>.columns>div {
  float: left;
  line-height: 150%;
  font-weight: bolder;
  text-align: center;
}

/* body>.main>.workspace>div .table>.rows {
  height: 20em;
  overflow-y: scroll;
} */

body>.main>.workspace>div .table>.rows>.row {
  border-radius: 0px;
  float: left;
  position: relative;
  width: 100%;
}

body>.main>.workspace>div .table>.rows>.row>input,
body>.main>.workspace>div .table>.rows>.row>select,
body>.main>.workspace>div .table>.rows>.row>div {
  float: left;
  line-height: 150%;
  overflow: hidden;
}

body>.main>.workspace>div .table.lifecycle>.rows.add>.row.no-add {
  display: none;
}

body>.main>.workspace>div .table>.rows>.row>.website,
body>.main>.workspace>div .table>.rows>.row>.static.date {
  text-align: center;
}

body>.main>.workspace>div .table>.rows>.row>input,
body>.main>.workspace>div .table>.rows>.row>select {
  background-color: inherit;
  border-style: none;
  color: inherit;
  font-size: inherit;
}

body>.main>.workspace>div .table>.rows>.row>.live {
  display: none;
}

body>.main>.workspace>div .table>.rows.editing>.row>.live,
body>.main>.workspace>div .table>.rows>.row.editing>.live {
  display: revert;
}

body>.main>.workspace>div .table>.rows.editing>.row>.static,
body>.main>.workspace>div .table>.rows>.row.editing>.static {
  display: none;
}

body>.main>.workspace>div .table>.rows.editing>.row>.static.const,
body>.main>.workspace>div .table>.rows>.row.editing>.static.const {
  display: block !important;
}

body>.main>.workspace>div .table>.rows>.row option {
  background-color: #004050;
}